<launch>
  <!-- Use simulation time -->
  <param name="use_sim_time" value="true"/>

  <!-- Start TurtleBot2 in Gazebo with custom world -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file"
         value="$(find cs4023major_project)/worlds/sec_room_hall.world"/>
  </include>

  <!-- Start your application core -->
  <node
    pkg="cs4023major_project"
    type="cs4023major_app.py"
    name="cs4023_application_core"
    output="screen" />

</launch>

